:root {
  --background-color: #eff0f3;
  --button-color: #ff8e3c;
  --button-text: #0d0d0d;
  --main-layout-color: #eff0f3;
  --light-coral: #d9376e;
  --high-light: #ff8e3c;
  --card-background: #fffffe;
}